body {
  font-family: "Red Hat Display", sans-serif;
}
h1,
h2,
h3 {
  text-align: center;
}
h1 {
  color: #495371;
}
h2 {
  color: #74959a;
}
a {
  color: black;
}
a:hover {
  text-decoration: underline;
  color: #74959a;
  cursor: pointer;
  transition: 250ms ease;
}
ul {
  margin: 0;
  padding: 0;
  padding-top: 20px;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  filter: drop-shadow(5px 2.5px 3px #5d6a8f);
}
.container {
  padding: 20px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 50px auto;
}
.card {
  max-width: 600px;
  margin-bottom: 10px;
  background: radial-gradient(73% 147%, #f0e3e3 59%, #f1e8e5 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
  border-radius: 15px;
}
.app-headers {
  margin: 10px;
}
.weather-today {
  margin: 15px;
}
.weather-description {
  text-transform: capitalize;
}
.search-form {
  padding: 10px;
  margin-top: 10px;
}
.btn {
  background-color: #74959a;
  color: #fff;
}
.btn:hover {
  background-color: #495371;
  color: #fff;
  transition: ease-in-out 300ms;
}
.weather-today {
  margin-left: 75px;
}
.weather-today strong {
  position: relative;
  color: rgb(33, 33, 33);
  font-size: 60px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
.weather-today .units {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  top: -15px;
}
.weather-details {
  padding-left: 0px;
}
.weekly-forecast {
  text-align: center;
  margin-top: 25px;
}
.weekday {
  font-size: 18px;
  color: #74959a;
  font-weight: 600;
}
.weekday-temperature {
  font-size: 15px;
  font-weight: 600;
}
.weekday-low {
  opacity: 0.5;
  padding-left: 5px;
}
