body {
  font-family: "Red Hat Display", sans-serif;
}
h1,
h2,
h3 {
  text-align: center;
}
h1 {
  color: #495371;
}
h2 {
  color: #74959a;
}
a {
  color: black;
}
a:hover {
  text-decoration: underline;
  color: #74959a;
  cursor: pointer;
  transition: 250ms ease;
}
.container {
  padding: 20px;
}
.weather-app-wrapper {
  max-width: 500px;
  margin: 50px auto;
}
.card {
  max-width: 500px;
  margin-bottom: 10px;
  background: radial-gradient(73% 147%, #f0e3e3 59%, #ece2df 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
  border-radius: 15px;
}
.app-headers {
  margin: 15px;
}
.weather-today {
  margin: 15px;
}
.weekly-forecast {
  max-width: 450px;
  margin: 25px 0px 15px 5px;
}
.search-form {
  padding: 10px;
  margin-top: 10px;
}
.btn {
  background-color: #74959a;
  color: #fff;
}
.btn:hover {
  background-color: #495371;
  color: #fff;
}
.fa-cog {
  font-size: larger;
  opacity: 0.5;
  text-align: right;
}
.fa-sun {
  font-size: 55px;
  color: gold;
}
