body {
  font-family: "Red Hat Display", sans-serif;
}
h1,
h2,
h3 {
  text-align: center;
}
h1 {
  color: #495371;
}
h2 {
  color: #74959a;
}
a {
  color: black;
}
a:hover {
  text-decoration: underline;
  color: #74959a;
  cursor: pointer;
  transition: 250ms ease;
}
ul {
  margin: 0;
  padding: 0;
  padding-top: 20px;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  padding: 20px;
}
.weather-app-wrapper {
  max-width: 500px;
  margin: 50px auto;
}
.card {
  max-width: 500px;
  margin-bottom: 10px;
  background: radial-gradient(73% 147%, #f0e3e3 59%, #f1e8e5 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
  border-radius: 15px;
}
.app-headers {
  margin: 15px;
}
.weather-today {
  margin: 15px;
}
.weather-description {
  text-transform: capitalize;
}
.search-form {
  padding: 10px;
  margin-top: 10px;
}
.btn {
  background-color: #74959a;
  color: #fff;
}
.btn:hover {
  background-color: #495371;
  color: #fff;
  transition: ease-in-out 300ms;
}
.weather-today strong {
  color: rgb(33, 33, 33);
  font-size: 55px;
  line-height: 1;
  font-weight: 400;
}
.weather-today .units {
  position: relative;
  font-size: 15px;
  top: -15px;
  font-weight: 400;
}
.units .active {
  color: rgba(0, 0, 0, 0.5);
  cursor: default;
}
.units .active:hover {
  text-decoration: none;
}
.weekly-forecast {
  text-align: center;
}
.weekday {
  font-size: 18px;
}
.weekday-weather-icon {
  font-size: 20px;
}
.weekday-temperature {
  font-size: 15px;
}
.weekday-low {
  opacity: 0.5;
}
